extends  ../_skeleton

//- Includes
include ../sections/_header-classic
include ../components/_ui-thumbnail
include ../sections/_footer-classic

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Tables'

block page
	// Page Header
	+navbar-classic({
		logo: logo.default
	})
		.col-6
			+thumbnail-creative({
				img: 'project-1-195x164',
				imgOriginal: 'project-1-1200x800-original'
			})
		.col-6
			+thumbnail-creative({
				img: 'project-2-195x164',
				imgOriginal: 'project-2-1200x800-original'
			})
		.col-6
			+thumbnail-creative({
				img: 'project-3-195x164',
				imgOriginal: 'project-3-1200x800-original'
			})
		.col-6
			+thumbnail-creative({
				img: 'project-4-195x164',
				imgOriginal: 'project-4-1200x800-original'
			})
		.col-6
			+thumbnail-creative({
				img: 'project-5-195x164',
				imgOriginal: 'project-5-1200x800-original'
			})
		.col-6
			+thumbnail-creative({
				img: 'project-6-195x164',
				imgOriginal: 'project-6-1200x800-original'
			})

	+breadcrumbs({
		category: activeCategory,
		path: [pageName],
		bgImage: 'bg-typography'
	})

	// Tables
	section.section.section-lg.bg-default
		.container
			.table-custom-responsive
				table.table-custom.table-custom-primary
					thead
						tr
							th Column 1
							th Column 2
							th Column 3
							th Column 4

					tbody
						tr
							td Item #1
							td Description
							td Subtotal
							td $3.00
						tr
							td Item #2
							td Description
							td Discount
							td $3.00
						tr
							td Item #3
							td Description
							td Shipping
							td $3.00

						tr
							td Item #4
							td Description
							td Tax
							td $4.00

					tfoot
						tr
							td All Items
							td Description
							td Your Total
							td $13.00
	='\n'

	hr

	// Tables
	section.section.section-lg.bg-default
		.container
			.table-custom-responsive
				table.table-custom.table-custom-bordered
					thead
						tr
							th Column 1
							th Column 2
							th Column 3
							th Column 4

					tbody
						tr
							td Item #1
							td Description
							td Subtotal
							td $3.00
						tr
							td Item #2
							td Description
							td Discount
							td $3.00
						tr
							td Item #3
							td Description
							td Shipping
							td $3.00

						tr
							td Item #4
							td Description
							td Tax
							td $4.00

					tfoot
						tr
							td All Items
							td Description
							td Your Total
							td $13.00
	='\n'

	hr

	// Tables
	section.section.section-lg.bg-default
		.container
			.table-custom-responsive
				table.table-custom.table-custom-striped.table-custom-primary
					thead
						tr
							th Column 1
							th Column 2
							th Column 3
							th Column 4

					tbody
						tr
							td Item #1
							td Description
							td Subtotal
							td $3.00
						tr
							td Item #2
							td Description
							td Discount
							td $3.00
						tr
							td Item #3
							td Description
							td Shipping
							td $3.00

						tr
							td Item #4
							td Description
							td Tax
							td $4.00

					tfoot
						tr
							td All Items
							td Description
							td Your Total
							td $13.00
	='\n'

	include ../sections/_section-newsletter
	// Page Footer
	+footer-classic({})
