mixin navbar-creative(obj)
  header.section.page-header
    // RD Navbar
    .rd-navbar-wrap
      nav.rd-navbar.rd-navbar-creative(
      data-layout=                'rd-navbar-fixed'
      data-sm-layout=             'rd-navbar-fixed'
      data-md-layout=             'rd-navbar-fixed'
      data-md-device-layout=      'rd-navbar-fixed'
      data-lg-layout=             'rd-navbar-static'
      data-lg-device-layout=      'rd-navbar-fixed'
      data-xl-layout=             'rd-navbar-static'
      data-xl-device-layout=      'rd-navbar-static'
      data-xxl-layout=            'rd-navbar-static'
      data-xxl-device-layout=     'rd-navbar-static'
      data-lg-stick-up-offset=    '80px'
      data-xl-stick-up-offset=    '80px'
      data-xxl-stick-up-offset=   '80px'
      data-lg-stick-up=           'true'
      data-xl-stick-up=           'true'
      data-xxl-stick-up=          'true'
      class=obj.mod)
        .rd-navbar-collapse-toggle.rd-navbar-fixed-element-1(data-rd-navbar-toggle='.rd-navbar-collapse'): span
        .rd-navbar-main-outer: .rd-navbar-main
          // RD Navbar Panel
          .rd-navbar-panel
            // RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span
            // RD Navbar Brand
            .rd-navbar-brand: +logo({
              defaultLogo: obj.defaultWelding,
              inverseLogo: obj.inverseWelding
            })

          .rd-navbar-main-element
            .rd-navbar-nav-wrap
              include ../includes/_navigation

            .rd-navbar-collapse
              ul.rd-navbar-contacts-3
                li: a.phone(href='tel:#') +1 718-999-3939
                li: a.mail(href='mailto:#') info@demolink.org

              a.button.button-xs.button-outline.button-default-outline-2.button-winona(href='contacts.html' title="Get a quote")
                span.button-text Get a quote
                span.icon.linearicons-pencil