mixin navbar-corporate(obj)
  header.section.page-header
    // RD Navbar
    .rd-navbar-wrap
      nav.rd-navbar.rd-navbar-corporate(
      data-layout=                'rd-navbar-fixed'
      data-sm-layout=             'rd-navbar-fixed'
      data-md-layout=             'rd-navbar-fixed'
      data-md-device-layout=      'rd-navbar-fixed'
      data-lg-layout=             'rd-navbar-static'
      data-lg-device-layout=      'rd-navbar-fixed'
      data-xl-layout=             'rd-navbar-static'
      data-xl-device-layout=      'rd-navbar-static'
      data-xxl-layout=            'rd-navbar-static'
      data-xxl-device-layout=     'rd-navbar-static'
      data-lg-stick-up-offset=    '80px'
      data-xl-stick-up-offset=    '80px'
      data-xxl-stick-up-offset=   '80px'
      data-lg-stick-up=           'true'
      data-xl-stick-up=           'true'
      data-xxl-stick-up=          'true'
      class=obj.mod)
        .rd-navbar-collapse-toggle.rd-navbar-fixed-element-1(data-rd-navbar-toggle='.rd-navbar-collapse'): span
        .rd-navbar-main-outer: .rd-navbar-main
          // RD Navbar Panel
          .rd-navbar-panel
            // RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span
            // RD Navbar Brand
            .rd-navbar-brand: a.brand(href='index.html'): +png(obj.logo, 'brand-logo-dark')

          .rd-navbar-main-element
            .rd-navbar-nav-wrap
              include ../includes/_navigation

          .rd-navbar-collapse
            ul.rd-navbar-contacts-4
              li
                span.icon.mdi.mdi-phone
                span.link-wrap: a.phone(href='tel:#') +1 718-999-3939
              li
                span.icon.mdi.mdi-email-outline
                span.link-wrap: a.mail(href='mailto:#') info@demolink.org
              li
                span.icon.mdi.mdi-map-marker
                span.link-wrap: a.address(href='#') 514 S. Magnolia St. Orlando, FL 32806