//- Section gmap
.rd-google-map(class="rd-google-map__model", data-marker="images/gmap_marker-2.png", data-marker-active="images/gmap_marker-2_active.png" data-styles='[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]', data-zoom='12', data-x='-73.9874068', data-y='40.643180')
	ul.map_locations
		li(data-y='40.643180', data-x='-73.9874068')
			p.map_locations-text Our first metal processing plant opened in 1980 in the USA. At that time, we mostly produced retail steel

		li(data-y='40.683180', data-x='-73.9374068')
			p.map_locations-text Our second plant opened in Canada in 1989 due to increasing commercial success of our solutions.

		li(data-y='40.583180', data-x='-73.8874068')
			p.map_locations-text In 2001, we started our international expansion. Brazil was the first country where we opened our new plant.

		li(data-y='40.603180', data-x='-74.1074068')
			p.map_locations-text In 2010, we opened our fourth plant, which is located in Africa. It allowed to attract more people to X Production.