//- Progress Bar linear
	@param {object} data
	@param {string} data.title
	@param {number} data.value
mixin progress-bar-linear( data )
	//Linear progress bar
	.progress-linear( data-daration= data.duration )&attributes( attributes )
		.progress-linear-header
			p.progress-linear-title= data.title

		.progress-linear-body
			.progress-linear-bar
				span.progress-linear-counter= data.value
